/* */
.el-folding > tr:nth-child(n + 4) {
  display: none;
}
.el-folding-line {
  cursor: pointer;
  border-bottom: 1px solid var(--el-table-border-color);
}
.el-folding-line:active {
  background-color: #F5F6FB;
}
.el-folding-extends {
  /*cursor: pointer;*/
  transition-duration: 400ms;
}
.el-folding-extends.rotate {
  cursor: pointer;
  transform: rotate(180deg);
}
